In [7]:
!pip install selenium
from selenium import webdriver

Requirement already satisfied: selenium in /opt/anaconda3/lib/python3.9/site-packages (4.4.3)
Requirement already satisfied: trio-websocket~=0.9 in /opt/anaconda3/lib/python3.9/site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in /opt/anaconda3/lib/python3.9/site-packages (from selenium) (1.26.14)
Requirement already satisfied: certifi>=2021.10.8 in /opt/anaconda3/lib/python3.9/site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio~=0.17 in /opt/anaconda3/lib/python3.9/site-packages (from selenium) (0.21.0)
Requirement already satisfied: idna in /opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (2.6)
Requirement already satisfied: outcome in /opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in /opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in /opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sniffio in /opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in /opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in /opt/anaconda3/lib/python3.9/site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in /opt/anaconda3/lib/python3.9/site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in /opt/anaconda3/lib/python3.9/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [118]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from tqdm import tqdm
from wordcloud import WordCloud
import re
from collections import Counter
import pickle
import PyPDF2
from inspect import getfile
import os
from urllib import request
from urllib.error import HTTPError
from bs4 import BeautifulSoup
import requests
import random
import pickle
from tqdm import tqdm

In [4]:
def mother_path(y):
    m_path = "http://www.statiz.co.kr/stat_at.php?opt=0&sopt=0&re=0&ys="+str(y)+"&ye="+str(y)+"&se=0&te=&tm=&ty=2016&qu=auto&po=0&as=&ae=&hi=&un=&pl=&da=1&o1=WAR_ALL_ADJ&o2=TPA&de=1&lr=0&tr=&cv=&ml=1&sn=30&si=&cn="
    return m_path
    
m_path = mother_path(2008)
m_path

In [8]:
driver = webdriver.Chrome(executable_path = "/Users/infected4098/Desktop/DL/chromedriver")
driver.implicitly_wait(3)
driver.get(m_path)
#html = driver.page_source
#soup = BeautifulSoup(html, "html.parser")

#링크 넘어가기
link = driver.find_element("xpath", "/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div[5]/div/div/div[4]/table/tbody/tr/td[2]/a[2]")
next_link = link.get_attribute("href")
driver

/var/folders/9t/mmn5mnpn14x8qvd1llmf0s5h0000gn/T/ipykernel_31433/2602835400.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path = "/Users/infected4098/Desktop/DL/chromedriver")

다음

In [99]:
empty_dict = {}
driver = webdriver.Chrome(executable_path = "/Users/infected4098/Desktop/DL/chromedriver")

for i in tqdm(range(2008, 2022)):
    yearly_path = mother_path(i)

    driver.implicitly_wait(random.randint(0, 3))
    driver.get(yearly_path)
    for m in range(4):
        yearly_list = []
        for tr in range(3, 37):
            if tr+1%12 != 0:
        
                table = driver.find_element("xpath", "/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div[5]/div/div/div[2]/table/tbody/tr["+str(tr)+"]")
                yearly_list.append([table.text])
        link = driver.find_element("xpath", "/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div[5]/div/div/div[4]/table/tbody/tr/td[2]/a[2]")
        next_link = link.get_attribute("href")
        driver.implicitly_wait(random.randint(0, 4))
        driver.get(next_link)
        empty_dict[str(i)+"/"+str(m)] = yearly_list

/var/folders/9t/mmn5mnpn14x8qvd1llmf0s5h0000gn/T/ipykernel_31433/2045039117.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path = "/Users/infected4098/Desktop/DL/chromedriver")
100%|███████████████████████████████████████████| 14/14 [03:37<00:00, 15.54s/it]

In [104]:
empty_dict["2008/3"]

[['31 이진영 1SRF 2.39 95 363 324 53 102 20 0 8 146 53 12 6 31 3 3 26 4 2 3 .315 .377 .451 .827 .380 131.3 2.39'],
 ['32 홍성흔 1두C 2.38 114 460 423 45 140 19 2 8 187 63 8 1 25 4 5 35 16 3 5 .331 .370 .442 .812 .372 125.3 2.38'],
 ['33 브룸바 1현LF 2.27 102 420 358 39 105 17 0 13 161 61 1 1 56 2 6 79 12 0 4 .293 .388 .450 .838 .385 133.5 2.27'],
 ['34 전준호 1현CF 2.18 114 391 352 44 109 16 5 1 138 24 16 11 35 1 2 41 5 1 2 .310 .372 .392 .764 .359 116.0 2.18'],
 ['35 정성훈 1L3B 2.14 109 399 355 43 96 21 2 3 130 34 8 4 36 5 1 41 13 2 1 .270 .345 .366 .711 .336 100.8 2.14'],
 ['36 신경현 1한C 2.01 107 331 296 27 79 16 3 3 110 41 4 3 26 2 0 54 8 5 2 .267 .328 .372 .700 .325 93.4 2.01'],
 ['37 정수근 1두CF 1.97 80 362 309 51 90 16 0 0 106 25 24 13 51 0 0 40 5 2 0 .291 .392 .343 .735 .357 115.2 1.97'],
 ['38 김강민 1SCF 1.96 106 295 258 38 70 16 3 3 101 32 16 8 26 6 0 46 2 5 0 .271 .352 .391 .743 .346 107.5 1.96'],
 ['39 이재주 1KDH 1.94 87 314 261 37 72 15 0 12 123 58 2 1 45 3 2 49 8 0 5 .276 .382 .471 .853 .390 138.1 1.94'],
 ['40 나지완 1KDH 1.84 73 239 200 25 59 12 1 6 91 30 1 2 28 6 1 44 2 1 4 .295 .391 .455 .846 .390 137.5 1.84'],
 ['순 이름 팀 정렬\nG\n타석\n타수\n득점\n안타\n2타\n3타\n홈런\n루타\n타점\n도루\n도실\n볼넷\n사구\n고4\n삼진\n병살\n희타\n희비\n비율\nWAR*\nWPA'],
 ['WAR*\n타율\n출루\n장타\nOPS\nwOBA\nwRC+'],
 ['41 송지만 1한RF 1.82 118 451 414 48 116 18 0 13 173 62 4 5 28 5 1 82 11 0 4 .280 .330 .418 .748 .347 107.8 1.82'],
 ['42 박진만 1현SS 1.77 104 391 332 28 81 12 3 5 114 38 5 4 44 3 0 50 9 9 3 .244 .335 .343 .679 .317 88.1 1.77'],
 ['43 이대형 1LCF 1.71 126 574 523 71 138 5 2 0 147 33 63 15 39 2 1 80 3 9 1 .264 .317 .281 .598 .287 66.9 1.71'],
 ['44 이종범 1해SS 1.45 110 362 317 38 90 19 4 1 120 38 9 3 32 1 0 26 11 9 3 .284 .348 .379 .727 .335 99.9 1.45'],
 ['45 이대수 1한SS 1.43 90 237 213 22 60 9 3 2 81 23 2 4 16 5 0 28 7 2 1 .282 .345 .380 .725 .340 103.5 1.43'],
 ['46 박재상 1SLF 1.41 94 363 314 46 86 18 1 1 109 34 21 9 36 5 0 50 3 7 1 .274 .357 .347 .704 .333 98.5 1.41'],
 ['47 이영우 1한LF 1.40 89 305 271 41 78 21 2 2 109 27 2 1 26 1 0 40 9 2 5 .288 .347 .402 .749 .347 108.0 1.40'],
 ['48 양준혁 1삼DH 1.40 114 443 385 49 107 16 2 8 151 49 1 1 46 7 4 37 10 2 2 .278 .364 .392 .756 .352 111.9 1.40'],
 ['49 김재호 1두SS 1.38 112 292 261 48 65 8 5 1 86 21 12 3 25 2 0 33 7 3 1 .249 .318 .330 .648 .307 80.6 1.38'],
 ['50 이재원 1SC 1.30 82 171 146 14 46 13 1 3 70 25 2 0 20 2 0 24 8 0 3 .315 .398 .479 .877 .404 147.9 1.30'],
 ['순 이름 팀 정렬\nG\n타석\n타수\n득점\n안타\n2타\n3타\n홈런\n루타\n타점\n도루\n도실\n볼넷\n사구\n고4\n삼진\n병살\n희타\n희비\n비율\nWAR*\nWPA'],
 ['WAR*\n타율\n출루\n장타\nOPS\nwOBA\nwRC+'],
 ['51 김정민 1LC 1.25 71 178 155 11 47 6 0 1 56 17 1 1 14 3 0 21 2 5 1 .303 .370 .361 .731 .341 104.4 1.25'],
 ['52 박경수 1k2B 1.25 116 444 367 46 95 11 1 8 132 43 6 5 37 7 0 65 13 23 10 .259 .330 .360 .690 .309 82.0 1.25'],
 ['53 김민재 1롯SS 1.21 114 397 357 26 86 13 0 5 114 35 13 3 30 2 1 37 6 7 1 .241 .303 .319 .622 .291 71.2 1.21'],
 ['54 나주환 1SSS 1.19 118 413 361 43 89 16 3 3 120 46 14 5 26 6 0 64 12 13 7 .247 .303 .332 .635 .291 69.5 1.19'],
 ['55 조인성 1LC 1.17 102 353 330 25 75 18 1 10 125 49 0 0 17 1 1 76 6 1 4 .227 .264 .379 .643 .293 71.1 1.17'],
 ['56 손아섭 1롯RF 1.17 80 250 218 31 66 11 1 3 88 17 2 3 28 2 0 35 4 2 0 .303 .387 .404 .791 .373 126.6 1.17'],
 ['57 조동화 1SLF 1.13 103 337 283 43 79 4 4 1 94 26 19 3 33 3 2 56 6 15 3 .279 .357 .332 .689 .316 86.8 1.13'],
 ['58 최동수 1L1B 1.12 110 431 381 32 101 15 0 14 158 62 0 3 31 9 1 62 16 5 5 .265 .331 .415 .746 .342 104.6 1.12'],
 ['59 김창희 1해CF 1.11 103 264 227 29 64 13 0 1 80 19 2 1 27 6 0 35 9 4 0 .282 .373 .352 .726 .346 107.6 1.11'],
 ['60 김상현 1K3B 1.07 75 243 214 28 52 9 2 8 89 18 2 3 19 3 0 55 8 5 2 .243 .311 .416 .727 .328 95.6 1.07']]

In [113]:
column_list = ["index", "이름", "팀", "WAR", "G", "타석", "타수", "득점", "안타", "2타", "3타", "홈런", "루타", "타점", "도루", "도실", "볼넷", "사구", "고4", "삼진", "병살", "희타", "희비", "타율", "출루", "장타", "OPS", "wOBA", "wRC", "WAR2"]

def preprocess(key):
    for lst in empty_dict[str(key)]:
        try:
            a = int(lst[0][0])
            new_list.append(lst)
        except:
            continue
    real_list = []
    for lsts in new_list:
        k = lsts[0].split(" ")
        real_list.append(k)
    result = pd.DataFrame(real_list).iloc[:, :-1]
    result.columns = column_list
    return result

In [114]:
preprocess("2008/3")

,index,이름,팀,WAR,G,타석,타수,득점,안타,2타,...,병살,희타,희비,타율,출루,장타,OPS,wOBA,wRC,WAR2
0,1,김현수,1두LF,7.14,126,558,470,83,168,34,...,12,0,2,.357,.454,.509,.963,.446,176.5,7.14
1,2,김태균,1한1B,6.14,115,484,410,81,133,27,...,8,0,5,.324,.417,.622,1.039,.461,183.4,6.14
2,3,조성환,1롯2B,5.82,123,525,462,79,151,27,...,6,4,11,.327,.382,.463,.845,.387,136.6,5.82
3,4,이대호,1롯1B,5.51,122,527,435,73,131,23,...,9,0,12,.301,.400,.478,.879,.402,147.1,5.51
4,5,최정,1S3B,5.40,114,476,406,77,133,24,...,7,10,2,.328,.410,.480,.890,.405,148.5,5.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17095,56,손아섭,1롯RF,1.17,80,250,218,31,66,11,...,4,2,0,.303,.387,.404,.791,.373,126.6,1.17
17096,57,조동화,1SLF,1.13,103,337,283,43,79,4,...,6,15,3,.279,.357,.332,.689,.316,86.8,1.13
17097,58,최동수,1L1B,1.12,110,431,381,32,101,15,...,16,5,5,.265,.331,.415,.746,.342,104.6,1.12
17098,59,김창희,1해CF,1.11,103,264,227,29,64,13,...,9,4,0,.282,.373,.352,.726,.346,107.6,1.11
17099,60,김상현,1K3B,1.07,75,243,214,28,52,9,...,8,5,2,.243,.311,.416,.727,.328,95.6,1.07

In [115]:
print(list(empty_dict.keys()))

['2008/0', '2008/1', '2008/2', '2008/3', '2009/0', '2009/1', '2009/2', '2009/3', '2010/0', '2010/1', '2010/2', '2010/3', '2011/0', '2011/1', '2011/2', '2011/3', '2012/0', '2012/1', '2012/2', '2012/3', '2013/0', '2013/1', '2013/2', '2013/3', '2014/0', '2014/1', '2014/2', '2014/3', '2015/0', '2015/1', '2015/2', '2015/3', '2016/0', '2016/1', '2016/2', '2016/3', '2017/0', '2017/1', '2017/2', '2017/3', '2018/0', '2018/1', '2018/2', '2018/3', '2019/0', '2019/1', '2019/2', '2019/3', '2020/0', '2020/1', '2020/2', '2020/3', '2021/0', '2021/1', '2021/2', '2021/3']

In [133]:
full_df = pd.DataFrame()
for key in tqdm(list(empty_dict.keys())):
    year = str(key[:4])
    yearly_df = preprocess(key)
    yearly_df["year"] = year
    yearly_df = yearly_df.drop_duplicates()
    full_df = pd.concat([full_df, yearly_df], axis = 0)

100%|███████████████████████████████████████████| 56/56 [00:10<00:00,  5.11it/s]

In [134]:
full_df.shape

(47040, 31)

In [140]:
full_df = full_df.drop_duplicates()
full_df_3 = full_df.copy()

In [141]:
full_df_3["팀"] = full_df_3["팀"].apply(lambda x: re.compile("[가-힣|a-z|A-Z]").findall(x))
full_df_3["팀"] = full_df_3["팀"].apply(lambda x: x[0])

In [143]:
full_df_3["팀"].value_counts()

두    2002
S    1414
삼    1386
K    1372
롯    1134
한    1106
L    1106
넥    1008
N     504
k     350
키     210
현     140
해      28
Name: 팀, dtype: int64

In [145]:
dic = {'두': '두산',
'S': 'SK',
'삼': '삼성',
'K': 'KIA',
'롯': '롯데',
'한': '한화',
'L': 'LG',
'넥': '넥센',
'N': 'NC',
'k': 'KT',
'키': '키움',
'현': '현대',
'해': '해태'}

In [146]:
def team_preprocess(value):
    global dic
    return dic[value]

In [151]:
full_df_2 = full_df_3.copy()
full_df_2["팀"] = full_df_2["팀"].apply(lambda x: team_preprocess(x))

In [155]:
full_df_2.to_csv("/Users/infected4098/Desktop/DL/Deepdaiv/삼인성호/kbo.csv")

In [158]:
full_df_2.isnull().sum()

index    0
이름       0
팀        0
WAR      0
G        0
타석       0
타수       0
득점       0
안타       0
2타       0
3타       0
홈런       0
루타       0
타점       0
도루       0
도실       0
볼넷       0
사구       0
고4       0
삼진       0
병살       0
희타       0
희비       0
타율       0
출루       0
장타       0
OPS      0
wOBA     0
wRC      0
WAR2     0
year     0
dtype: int64

In [159]:
full_df_2.shape

(11760, 31)